
@page "/commitfrequency"
@inject HttpClient Http
@using GitInsight.Entities
@using System.Net


<PageTitle>GitInsight</PageTitle>

<h1>GitInsight frequency</h1>

<h2>insert link to the repository you wish to analyze</h2>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="pathToRepo" @bind-Value="model.pathToRepo" />

    <button @onclick="setAuthorModeOn">Authormode</button>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private startModel model = new();
    private IEnumerable<string> results;
    private string inputURL {get;set;}
    private bool authorModeOn;

    private void setAuthorModeOn(){
        authorModeOn = true;
        Console.WriteLine("Authormode was chosen");
    }
    private async void HandleValidSubmitAsync()
    {
        Console.WriteLine("printing path to repo inserted: " + model.pathToRepo);
        inputURL = WebUtility.UrlEncode(model.pathToRepo);
    
        try 
        {
            results = await Http.GetFromJsonAsync<IEnumerable<string>>($"AnalyzedRepo/{inputURL}/{authorModeOn}");
            foreach(string s in results){
                Console.WriteLine(s);
            }
                
        
        } catch (Exception e)
        {
            Console.WriteLine("Something went wrong when get request was called");
            
        }    
        authorModeOn = false;
    }
}
    
@if (results == null)
{
    <p><em>Could not run get request</em></p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
                <th>Number of commits</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (string s in results)
            {
                <tr>
                    @if(authorModeOn){
                    <td>@s.Split(" ").First()</td>
                    <td>@s.Split(" ").Last()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
} 


   





